@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&family=DM+Serif+Text:ital@0;1&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-playfair: var(--font-playfair-display);
  --font-bricolage: var(--font-bricolage-grotesque);
  --font-jost: var(--font-jost);
  --font-poppins: var(--font-poppins);
  --color-muted-black: #353535;
  --color-primary: #E65959;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */
nav {
  /* position: fixed;
  width: 100vw; */
  height: 20px;
  padding: 2rem;
  display: flex;
  justify-content: end;
  z-index: 1;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

a {
  text-decoration: none;
  /* text-transform: uppercase;
  color: #141414;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: var(--font-geist-mono); */
}

/* content */
.page {
  position: relative;
  width: 100%;
  /* padding-top: 64px; */
  min-height: 100svh;
  background-color: #e3e4d8;
}

/* Transition related */
.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.block {
  flex: 1;
  height: 100%;
  background-color: #222;
  transform: scaleX(0);
  transform-origin: left;
}

.logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100svh;
  display: flex;
  pointer-events: none;
  z-index: 2;
  justify-content: center;
  align-items: center;
  background-color: #222;
  opacity: 0;
}

.logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.intro-text {
  margin-top: 16px;
}

.links {
  margin-top: 16px;
}

.projects {
  margin-top: 32px;
}
